<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bienvenidos a Migoos</title>
    <!-- Bootstrap Core CSS -->
    <link href="public/assets/css/font-awesome.css" rel="stylesheet" type="text/csss">
    <link href="public/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href=" public/stylesheets/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href=" public/stylesheets/angular-toastr.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="public/stylesheets/index.css" rel="stylesheet" type="text/css">
    <!-- Validador de bootstrap -->
    <!--<script type="text/javascript" src="js/validator.js"></script>-->


    <!-- Bootstrap Core JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="public/javascripts/jquery.min.js"></script>

    <script type="text/javascript" src="public/javascripts/jquery.backstretch.min.js"></script>

    <script type="text/javascript" src="public/javascripts/bootstrap.min.js"></script>
    <script src="public/javascripts/angular/angular.js"></script>
    <script type="text/javascript" src="public/Cliente/app/lib/ngStorage.js"></script>
    <script type="text/javascript" src="public/Cliente/app/lib/loading-bar.js"></script>
    <!-- Third-party Libraries -->
    <script src="public/javascripts/angular-animate.js"></script>
    <script src="public/javascripts/angular-messages.js"></script>
    <script src="public/javascripts/angular-resource.js"></script>
    <script src="public/javascripts/angular-sanitize.js"></script>
    <script src="public/javascripts/angular-ui-router.js"></script>
    <script src="public/javascripts/angular-toastr.tpls.js"></script>
    <script src="public/javascripts/angular-route.js"></script>
    <script src="public/javascripts/satellizer.js"></script>

    <script type="text/javascript" src="public/Cliente/models/app.js"></script>
    <script type="text/javascript" src="public/Cliente/models/services.js"></script>
    <script type="text/javascript" src="public/Cliente/controllers/Login.js"></script>
   <!-- <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/angular/angular.js"></script>
    <script src="main.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    -->
</head>
<body ng-app="Miggos_Module">
            
<div class="container">
    <div ui-view>

    </div>
</div>

</body>
</html>
